<% include ../_header %>
    <!--ajaxについて-->
    <div class="get_ajax">
        <p>エイジャーックス</p>
        <script>
        $(function(){
            function(){
                console.log("いやっふー");
            }();
        })
        </script>
    </div>
