<% include ../_header %>
    <dl class="fn-toggle">
        <dt class="trigger">テスト１</dt>
        <dd class="contents">
            <ul>
                <li>リスト１</li>
                <li>リスト２</li>
                <li>リスト３</li>
                <li>リスト４</li>
            </ul>
        </dd>
        <dt class="trigger">テスト２</dt>
        <dd class="contents">
            <ul>
                <li>リスト１</li>
                <li>リスト２</li>
                <li>リスト３</li>
                <li>リスト４</li>
            </ul>
        </dd>
    </dl>
    <div class="slider">
        <ul class="fn-bxslider">
            <li><img src="../../img/sample1.jpg" alt=""></li>
            <li><img src="../../img/sample2.jpg" alt=""></li>
            <li><img src="../../img/sample3.jpg" alt=""></li>
        </ul>
    </div>
    <div class="slider">
        <ul class="fn-bxslider">
            <li><img src="../../img/sample1.jpg" alt=""></li>
            <li><img src="../../img/sample2.jpg" alt=""></li>
            <li><img src="../../img/sample3.jpg" alt=""></li>
        </ul>
    </div>

    <!--jquery名前空間テスト-->

    <a href="#" class="testLink">名前空間テスト</a>
    <a href="#" class="testLink">名前空間テスト2</a>
    <input type="text" name="" value="" class="testfocus" placeholder="フォーカスしたらconsoleにログがでるよ">
    <% include ../_footer %>

    <!--ここは山本さんとかに聞いてみよう↑↑-->

    <!--ajaxについて-->
    <div class="ajax_test">
    	<p>テストです</p>
    </div>
    <a href="#" class="ajax_testLink">ajaxのテストリンクです</a>